{% extends 'partials/base.html' %}
{% load static %}
{% static "" as baseUrl %}

{% block css %}
{% include 'partials/css.html' %}
{% endblock css %}
{% block extra_css %}
{% endblock extra_css %}
{% block contents %}

{% block content %}
 
  <h2>Change Password</h2>
  <form method="post" action="{% url 'change-password' %}">
    {% csrf_token %}
    
    {% if form.errors %}
      <div class="alert alert-danger">
        <strong>Error:</strong> Please correct the following errors.
      </div>
    {% endif %}

    {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}
    
    <button type="submit">Change Password</button>
  </form>
  
{% endblock %}

{% endblock contents %}
{% block javascript %}
        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
        <!-- form mask -->
        <script src="{% static 'libs/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>

        <!-- form mask init -->
        <script src="{% static 'js/pages/form-mask.init.js' %}"></script>
        
        <script src="{% static 'js/app.js' %}"></script>

{% endblock javascript %}
{% block r_sidebar %}
{% include 'partials/rightsidebar.html' %}
{% endblock r_sidebar %}
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}