<!-- claim_list.html NOT USED -->
{% extends 'partials/base.html' %}
{% load static %}
{% static "" as baseUrl %}

{% block css %}
{% include 'partials/css.html' %}
{% endblock css %}
{% block extra_css %}
{% endblock extra_css %}
{% block contents %}

<h1>Claim List</h1>

<ul>
  {% for claim in repair_orders %}
    <li><a href="">{{ claim.repair_order }}</a> - {{ claim.repair_order_number }}</li>
  {% empty %}
    <li>No claims found.</li>
  {% endfor %}
</ul>

{% endblock contents %}
{% block javascript %}
        <!-- JAVASCRIPT 
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script> -->
        <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
        <!-- form mask -->
        <script src="{% static 'libs/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>

        <!-- form mask init -->
        <script src="{% static 'js/pages/form-mask.init.js' %}"></script>
        
        <script src="{% static 'js/app.js' %}"></script>

        <script type="text/javascript">
            $(window).on('load', function() {
                $('#manualModal').modal('show');
            });
        </script>

{% endblock javascript %}
{% block r_sidebar %}
{% include 'partials/rightsidebar.html' %}
{% endblock r_sidebar %}
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}